<div class="carousel">
    <div class="carousel__container">
        {% for movie in movies %}
        <div class="card">
            <img class="card__img" src="{{ movie.background }}" alt="{{ movie.title }}"/>
            <div class="card__container">
                <h4 class="card__title">{{ movie.title }}</h4>
                <span class="card__overview">{{ movie.overview }}</span>
            </div>
            <a data-movie-id={{movie.id}} class="play__button"><span></span></a>
        </div>
        {% endfor %}
    </div>
</div>