<nav class="nav">
    <a href="" class="nav__logo">ElbowFlix</a>
    <ul class="nav__menu">
        <li class="nav__item">
            <a href="#" class="nav__link"><i class="fa-solid fa-house"></i>Inicio</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link"><i class="fa-solid fa-film"></i>Películas</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link"><i class="fa-solid fa-tv"></i>Series</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link"><i class="fa-solid fa-clipboard"></i>Registrarse</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link"><i class="fa-solid fa-user"></i>Iniciar sesión</a>
        </li>
    </ul>
    <div class="burger" id="burger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
