<nav class="nav">
    <a href="" class="nav__logo">ElbowFlix</a>
    <ul class="nav__menu">
        <li class="nav__item">
            <a href="#" class="nav__link"><i class="fa-solid fa-house"></i><span>Inicio</span></a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link"><i class="fa-solid fa-film"></i><span>Películas</span></a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link"><i class="fa-solid fa-tv"></i><span>Series</span></a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link"><i class="fa-solid fa-clipboard"></i><span>Registrarse</span></a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link"><i class="fa-solid fa-user"></i><span>Iniciar sesión</span></a>
        </li>
    </ul>
    <div class="burger" id="burger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
