{% extends 'layouts/base.html' %} 

{% block 'title' %}Inicio{% endblock %} 

{% block 'styles' %} 
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/index/carousel_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index/trailer_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index/trending_style.css' %}" />
{% endblock %}  

{% block 'content' %}
    {% include 'layouts/partials/carousel.html' %}
    {% include 'layouts/partials/trailer.html' %}
    {% include 'layouts/partials/trending.html'%}
{% endblock %} 
{% block 'scripts' %}
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/play_trailer.js' %}"></script>
{% endblock %}